/* line 1, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Alegreya', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 11, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 15, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 20, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 23, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 26, scss/main.css */
.col-3 {
  width: 25%; }

/* line 29, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 32, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 35, scss/main.css */
.col-6 {
  width: 50%; }

/* line 38, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 41, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 44, scss/main.css */
.col-9 {
  width: 75%; }

/* line 47, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 50, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 53, scss/main.css */
.col-12 {
  width: 100%; }

/* line 56, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 10px; }

/* line 61, scss/main.css */
header {
  position: absolute;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100vw; }

/* line 68, scss/main.css */
.logo {
  float: left;
  display: inline-block;
  letter-spacing: 3px;
  position: absolute;
  margin-top: 0.2em;
  font-family: 'Dancing Script', 'cursive';
  font-size: 30px;
  color: white; }

@media (min-width: 750px) {
  /* line 78, scss/main.css */
  .logo {
    margin-top: -0.35em; } }

/* line 81, scss/main.css */
.menu {
  display: none;
  margin-top: 1em;
  list-style-type: none;
  color: white;
  text-align: center; }

@media (min-width: 750px) {
  /* line 88, scss/main.css */
  .menu {
    display: block; } }

/* line 90, scss/main.css */
.menu li {
  font-family: 'Alegreya', 'sans serif';
  display: inline-block;
  font-size: 14px;
  cursor: pointer; }

/* line 95, scss/main.css */
.menu li span {
  padding: 0 30px; }

@media (min-width: 750px) {
  /* line 98, scss/main.css */
  .menu li {
    font-size: 11px; } }

@media (min-width: 900px) {
  /* line 101, scss/main.css */
  .menu li {
    font-size: 14px; } }

/* line 103, scss/main.css */
.menu li:hover {
  color: rgba(0, 0, 0, 0.5); }

/* line 105, scss/main.css */
.menu li:hover span {
  color: white; }

/* line 108, scss/main.css */
.hamburger {
  display: inline-block;
  float: right;
  position: absolute;
  top: 8px;
  right: 20px;
  color: white; }

@media (min-width: 750px) {
  /* line 116, scss/main.css */
  .hamburger {
    display: none; } }

/* line 119, scss/main.css */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s; }

/* line 128, scss/main.css */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 131, scss/main.css */
.change .bar2 {
  opacity: 0; }

/* line 134, scss/main.css */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px); }

/* line 137, scss/main.css */
.socialMedia {
  color: white;
  display: inline-block;
  list-style-type: none;
  float: right;
  margin-top: -1.5em; }

/* line 143, scss/main.css */
.socialMedia li {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer; }

/* line 147, scss/main.css */
.socialMedia a:hover {
  color: rgba(0, 0, 0, 0.5); }

/* line 149, scss/main.css */
.socialMedia a:visited {
  color: white; }

/* line 152, scss/main.css */
.sectionOne {
  background-image: url("../images/nav and header/main-section-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

/* line 159, scss/main.css */
.bgShadow {
  display: inline-block;
  margin: 22vh 30vw;
  border-radius: 50%;
  width: 155px;
  height: 410px;
  background: #564f4c;
  filter: blur(125px);
  opacity: 0.9;
  position: relative; }

@media (min-width: 450px) {
  /* line 170, scss/main.css */
  .bgShadow {
    margin: 23vh 22vw;
    width: 270px;
    height: 375px; } }

@media (min-width: 600px) {
  /* line 175, scss/main.css */
  .bgShadow {
    margin: 23vh 28vw; } }

@media (min-width: 800px) {
  /* line 178, scss/main.css */
  .bgShadow {
    margin: 15vh 22vw;
    width: 450px;
    height: 500px; } }

@media (min-width: 1000px) {
  /* line 183, scss/main.css */
  .bgShadow {
    margin: 15vh 28vw;
    width: 425px; } }

@media (min-width: 1100px) {
  /* line 187, scss/main.css */
  .bgShadow {
    margin: 15vh 28vw;
    width: 450px; } }

@media (min-width: 1300px) {
  /* line 191, scss/main.css */
  .bgShadow {
    margin: 15vh 24vw; } }

@media (min-width: 1300px) {
  /* line 194, scss/main.css */
  .bgShadow {
    margin: 15vh 20vw; } }

/* line 197, scss/main.css */
.mainHeader {
  margin-top: 50px;
  color: white;
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: calc(50% - 200px);
  left: calc(50% - 165px);
  font-size: 3em;
  font-family: "Playfair Display", 'sans-serif';
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004); }

@media (min-width: 450px) {
  /* line 211, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    font-size: 3em; } }

@media (min-width: 600px) {
  /* line 216, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 225px);
    font-size: 4em; } }

@media (min-width: 800px) {
  /* line 221, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    font-size: 6em; } }

/* line 226, scss/main.css */
.stripes {
  height: 102px;
  width: 150px;
  background-image: url("../images/nav and header/lines.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: calc(50% - 57px);
  left: calc(50% - 75px); }

@media (min-width: 450px) {
  /* line 238, scss/main.css */
  .stripes {
    height: 200px;
    width: 200px;
    left: calc(50% - 100px); } }

/* line 243, scss/main.css */
.bottomText {
  font-weight: 300;
  font-size: 20px;
  font-family: "Raleway", 'sans-serif';
  color: white;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 0px);
  width: 325px; }

@media (min-width: 450px) {
  /* line 256, scss/main.css */
  .bottomText {
    font-size: 24px;
    left: calc(50% - 235px);
    width: 450px; } }

@media (min-width: 600px) {
  /* line 261, scss/main.css */
  .bottomText {
    left: calc(50% - 275px);
    width: 544px; } }

/* line 265, scss/main.css */
.menuBtn {
  border: 1px dashed #9e9c93;
  background-color: rgba(86, 83, 76, 0.529);
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% + 165px);
  width: 198px;
  height: 48px;
  font-size: 14px;
  font-family: "Alegreya", 'sans-serif';
  font-weight: 700;
  color: white;
  letter-spacing: 2px; }

/* line 279, scss/main.css */
.midSectionPhoto {
  background-image: url("../images/nav and header/border_bullets.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 135px;
  position: relative;
  z-index: 999;
  top: -50px; }

/* line 289, scss/main.css */
.sectionTwo {
  background-image: url("../images/section two/section-two-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  top: -115px; }

/* line 297, scss/main.css */
.pos {
  padding-top: 100px;
  display: flex;
  flex-direction: column; }

@media (min-width: 750px) {
  /* line 302, scss/main.css */
  .pos {
    flex-direction: row; } }

/* line 305, scss/main.css */
.headerText {
  line-height: 0.625;
  font-size: 48px;
  font-family: "Alegreya", 'sans-serif';
  color: #56534c;
  font-weight: 700;
  text-align: center; }

/* line 313, scss/main.css */
.headerDescription {
  font-family: "Alegreya", 'sans-serif';
  color: #a47d5e;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  font-size: 16px; }

/* line 321, scss/main.css */
.description {
  font-size: 14px;
  font-family: 'Raleway', 'sans-serif';
  color: #56534c;
  line-height: 1.714;
  text-align: center;
  padding: 30px;
  font-weight: 600; }

/* line 330, scss/main.css */
.chefCook {
  font-size: 24px;
  font-family: "Alegreya", 'sans-serif';
  color: #56534c;
  font-weight: bold;
  line-height: 1.25;
  text-align: center; }

/* line 338, scss/main.css */
.chefUl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 0; }

@media (min-width: 750px) {
  /* line 344, scss/main.css */
  .chefUl {
    flex-direction: row;
    margin-left: calc(50% - 180px); } }

@media (min-width: 850px) {
  /* line 348, scss/main.css */
  .chefUl {
    margin-left: calc(50% - 215px); } }

/* line 350, scss/main.css */
.chefUl li {
  padding: 20px 0; }

@media (min-width: 850px) {
  /* line 353, scss/main.css */
  .chefUl li {
    padding: 40px 15px; } }

/* line 355, scss/main.css */
.chefUl li .chefName,
.chefUl li .chefSurname {
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding: 15px 20px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Alegreya";
  color: #56534c;
  line-height: 1.25;
  text-align: center; }

/* line 366, scss/main.css */
.chefUl li .chefPhoto {
  background-image: url("../images/section two/avatar_section_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 125px;
  border: 5px solid white;
  border-radius: 50%;
  margin-left: calc(50% - 65px); }

@media (min-width: 850px) {
  /* line 376, scss/main.css */
  .chefUl li .chefPhoto {
    margin-left: 0; } }

/* line 379, scss/main.css */
.leftMark {
  margin-left: calc(10% - 20px); }

@media (min-width: 850px) {
  /* line 382, scss/main.css */
  .leftMark {
    margin-left: calc(15% - 20px); } }

@media (min-width: 1050px) {
  /* line 385, scss/main.css */
  .leftMark {
    margin-left: calc(20% - 20px); } }

/* line 388, scss/main.css */
.rightMark {
  float: right;
  margin: 15px calc(10% - 20px) 0 0; }

@media (min-width: 850px) {
  /* line 392, scss/main.css */
  .rightMark {
    margin: 15px calc(15% - 20px) 0 0; } }

@media (min-width: 1050px) {
  /* line 395, scss/main.css */
  .rightMark {
    margin: 15px calc(20% - 20px) 0 0; } }

/* line 398, scss/main.css */
.leftMark,
.rightMark {
  font-size: 24px;
  font-family: 'Playfair Display';
  color: #b6b5b2;
  line-height: 0.5; }

/* line 405, scss/main.css */
.cursiveText {
  font-size: 24px;
  font-family: 'Dancing Script', 'cursive';
  color: #a47d5e;
  line-height: 1.25;
  text-align: center; }

/* line 412, scss/main.css */
.cakePhotos {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: 100px; }

/* line 418, scss/main.css */
.cakePhotos li {
  padding: 10px 5px 20px 0; }

/* line 420, scss/main.css */
.cakePhotos li .topLeftPhoto {
  background-image: url("../images/section two/img top left.png"); }

/* line 422, scss/main.css */
.cakePhotos li .topRightPhoto {
  background-image: url("../images/section two/img top right.png"); }

/* line 424, scss/main.css */
.cakePhotos li .bottomRightPhoto {
  background-image: url("../images/section two/img bottom right.png"); }

/* line 426, scss/main.css */
.cakePhotos li .bottomLeftPhoto {
  background-image: url("../images/section two/img bottom left.png"); }

/* line 428, scss/main.css */
.cakePhotos li .topLeftPhoto,
.cakePhotos li .topRightPhoto,
.cakePhotos li .bottomLeftPhoto,
.cakePhotos li .bottomRightPhoto {
  background-repeat: no-repeat;
  background-size: contain;
  width: 335px;
  height: 285px; }

@media (min-width: 450px) {
  /* line 437, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    left: calc(50% - 50px); } }

@media (min-width: 630px) {
  /* line 443, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 290px;
    height: 245px; } }

@media (min-width: 751px) {
  /* line 450, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 165px;
    height: 140px; } }

@media (min-width: 851px) {
  /* line 457, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 195px;
    height: 170px; } }

@media (min-width: 1000px) {
  /* line 464, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 231px;
    height: 195px; } }

@media (min-width: 1100px) {
  /* line 471, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 260px;
    height: 235px; } }

@media (min-width: 1200px) {
  /* line 478, scss/main.css */
  .cakePhotos li .topLeftPhoto,
  .cakePhotos li .topRightPhoto,
  .cakePhotos li .bottomLeftPhoto,
  .cakePhotos li .bottomRightPhoto {
    width: 275px;
    height: 235px; } }

/* line 485, scss/main.css */
.stempel {
  display: none; }

@media (min-width: 750px) {
  /* line 488, scss/main.css */
  .stempel {
    display: inline-block;
    background-image: url("../images/section two/vector_section_one.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 219;
    left: calc(50% + 89px);
    top: 184px; } }

@media (min-width: 850px) {
  /* line 500, scss/main.css */
  .stempel {
    left: calc(50% + 120px);
    top: 210px; } }

@media (min-width: 900px) {
  /* line 504, scss/main.css */
  .stempel {
    left: calc(50% + 120px);
    top: 210px; } }

@media (min-width: 1000px) {
  /* line 508, scss/main.css */
  .stempel {
    left: calc(50% + 115px);
    top: 205px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 219;
    left: calc(50% + 145px);
    top: 230px; } }

@media (min-width: 1100px) {
  /* line 518, scss/main.css */
  .stempel {
    left: calc(50% + 173px);
    top: 260px; } }

@media (min-width: 1200px) {
  /* line 522, scss/main.css */
  .stempel {
    left: calc(50% + 190px);
    top: 265px; } }

/* line 526, scss/main.css */
.sectionThree {
  background-image: url("../images/section three/section-three-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  top: -115px;
  height: 100vh;
  position: relative; }

/* line 535, scss/main.css */
.sectionThreeBg {
  background-image: url("../images/section three/img-rating.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 620px;
  margin-top: calc(50% - 410px);
  margin-left: calc(50% - 550px); }

/* line 544, scss/main.css */
.dishMenu {
  background-image: url("../images/section three/menu.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 60%;
  float: right;
  margin-right: 0;
  overflow: hidden; }
