/* line 1, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Alegreya', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 11, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 15, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 20, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 23, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 26, scss/main.css */
.col-3 {
  width: 25%; }

/* line 29, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 32, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 35, scss/main.css */
.col-6 {
  width: 50%; }

/* line 38, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 41, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 44, scss/main.css */
.col-9 {
  width: 75%; }

/* line 47, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 50, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 53, scss/main.css */
.col-12 {
  width: 100%; }

/* line 56, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
  padding: 10px; }

/* line 62, scss/main.css */
header {
  position: absolute;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100vw; }

/* line 69, scss/main.css */
.logo {
  float: left;
  display: inline-block;
  letter-spacing: 3px;
  position: absolute;
  margin-top: 0.2em;
  font-family: 'Dancing Script', 'cursive';
  font-size: 30px;
  color: white; }

@media (min-width: 750px) {
  /* line 79, scss/main.css */
  .logo {
    margin-top: -0.35em; } }

/* line 82, scss/main.css */
.menu {
  display: none;
  margin-top: 1em;
  list-style-type: none;
  color: white;
  text-align: center; }

@media (min-width: 750px) {
  /* line 89, scss/main.css */
  .menu {
    display: block; } }

/* line 91, scss/main.css */
.menu li {
  font-family: 'Alegreya', 'sans serif';
  display: inline-block;
  font-size: 14px;
  cursor: pointer; }

/* line 96, scss/main.css */
.menu li span {
  padding: 0 30px; }

@media (min-width: 750px) {
  /* line 99, scss/main.css */
  .menu li {
    font-size: 11px; } }

@media (min-width: 900px) {
  /* line 102, scss/main.css */
  .menu li {
    font-size: 14px; } }

/* line 104, scss/main.css */
.menu li:hover {
  color: rgba(0, 0, 0, 0.5); }

/* line 106, scss/main.css */
.menu li:hover span {
  color: white; }

/* line 109, scss/main.css */
.hamburger {
  display: inline-block;
  float: right;
  position: absolute;
  top: 8px;
  right: 20px;
  color: white; }

@media (min-width: 750px) {
  /* line 117, scss/main.css */
  .hamburger {
    display: none; } }

/* line 120, scss/main.css */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s; }

/* line 129, scss/main.css */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 132, scss/main.css */
.change .bar2 {
  opacity: 0; }

/* line 135, scss/main.css */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px); }

/* line 138, scss/main.css */
.socialMedia {
  color: white;
  display: inline-block;
  list-style-type: none;
  float: right;
  margin-top: -1.5em; }

/* line 144, scss/main.css */
.socialMedia li {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer; }

/* line 148, scss/main.css */
.socialMedia a:hover {
  color: rgba(0, 0, 0, 0.5); }

/* line 150, scss/main.css */
.socialMedia a:visited {
  color: white; }

/* line 153, scss/main.css */
.sectionOne {
  background-image: url("../images/nav and header/main-section-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

/* line 160, scss/main.css */
.bgShadow {
  display: inline-block;
  margin: 22vh 30vw;
  border-radius: 50%;
  width: 155px;
  height: 410px;
  background: #564f4c;
  filter: blur(125px);
  opacity: 0.9;
  position: relative; }

@media (min-width: 450px) {
  /* line 171, scss/main.css */
  .bgShadow {
    margin: 23vh 22vw;
    width: 270px;
    height: 375px; } }

@media (min-width: 600px) {
  /* line 176, scss/main.css */
  .bgShadow {
    margin: 23vh 28vw; } }

@media (min-width: 800px) {
  /* line 179, scss/main.css */
  .bgShadow {
    margin: 15vh 22vw;
    width: 450px;
    height: 500px; } }

@media (min-width: 1000px) {
  /* line 184, scss/main.css */
  .bgShadow {
    margin: 15vh 28vw;
    width: 425px; } }

@media (min-width: 1100px) {
  /* line 188, scss/main.css */
  .bgShadow {
    margin: 15vh 28vw;
    width: 450px; } }

@media (min-width: 1300px) {
  /* line 192, scss/main.css */
  .bgShadow {
    margin: 15vh 24vw; } }

@media (min-width: 1300px) {
  /* line 195, scss/main.css */
  .bgShadow {
    margin: 15vh 20vw; } }

/* line 198, scss/main.css */
.mainHeader {
  margin-top: 50px;
  color: white;
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: calc(50% - 200px);
  left: calc(50% - 165px);
  font-size: 3em;
  font-family: "Playfair Display", 'sans-serif';
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004); }

@media (min-width: 450px) {
  /* line 212, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    font-size: 3em; } }

@media (min-width: 600px) {
  /* line 217, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 225px);
    font-size: 4em; } }

@media (min-width: 800px) {
  /* line 222, scss/main.css */
  .mainHeader {
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    font-size: 6em; } }

/* line 227, scss/main.css */
.stripes {
  height: 102px;
  width: 150px;
  background-image: url("../images/nav and header/lines.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: calc(50% - 57px);
  left: calc(50% - 75px); }

@media (min-width: 450px) {
  /* line 239, scss/main.css */
  .stripes {
    height: 200px;
    width: 200px;
    left: calc(50% - 100px); } }

/* line 244, scss/main.css */
.bottomText {
  font-weight: 300;
  font-size: 20px;
  font-family: "Raleway", 'sans-serif';
  color: white;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 0px);
  width: 325px; }

@media (min-width: 450px) {
  /* line 257, scss/main.css */
  .bottomText {
    font-size: 24px;
    left: calc(50% - 235px);
    width: 450px; } }

@media (min-width: 600px) {
  /* line 262, scss/main.css */
  .bottomText {
    left: calc(50% - 275px);
    width: 544px; } }

/* line 266, scss/main.css */
.menuBtn {
  border: 1px dashed #9e9c93;
  background-color: rgba(86, 83, 76, 0.529);
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% + 165px);
  width: 198px;
  height: 48px;
  font-size: 14px;
  font-family: "Alegreya", 'sans-serif';
  font-weight: 700;
  color: white;
  letter-spacing: 2px; }

/* line 280, scss/main.css */
.midSectionPhoto {
  background-image: url("../images/nav and header/border_bullets.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 135px;
  position: relative;
  z-index: 999;
  top: -50px; }

/* line 290, scss/main.css */
.sectionTwo {
  background-image: url("../images/section two/section-two-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  top: -115px; }

/* line 298, scss/main.css */
.pos {
  padding-top: 100px; }

/* line 301, scss/main.css */
.headerText {
  line-height: 0.625;
  font-size: 48px;
  font-family: "Alegreya", 'sans-serif';
  color: #56534c;
  font-weight: 700;
  text-align: center; }

/* line 309, scss/main.css */
.headerDescription {
  font-family: "Alegreya", 'sans-serif';
  color: #a47d5e;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  font-size: 16px; }

/* line 317, scss/main.css */
.description {
  font-size: 14px;
  font-family: 'Raleway', 'sans-serif';
  color: #56534c;
  line-height: 1.714;
  text-align: center;
  padding: 30px;
  font-weight: 600; }

/* line 326, scss/main.css */
.chefCook {
  font-size: 24px;
  font-family: "Alegreya", 'sans-serif';
  color: #56534c;
  font-weight: bold;
  line-height: 1.25;
  text-align: center; }

/* line 334, scss/main.css */
.chefUl {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: calc(50% - 215px); }

/* line 339, scss/main.css */
.chefUl li {
  padding: 40px 15px; }

/* line 341, scss/main.css */
.chefUl li .chefName,
.chefUl li .chefSurname {
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding: 15px 20px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Alegreya";
  color: #56534c;
  line-height: 1.25;
  text-align: center; }

/* line 352, scss/main.css */
.chefUl li .chefPhoto {
  background-image: url("../images/section two/avatar_section_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 125px;
  border: 5px solid white;
  border-radius: 50%; }

/* line 361, scss/main.css */
.leftMark {
  margin-left: 75px; }

/* line 364, scss/main.css */
.rightMark {
  float: right;
  margin: 15px 75px 0 0; }

/* line 368, scss/main.css */
.leftMark,
.rightMark {
  font-size: 24px;
  font-family: 'Playfair Display';
  color: #b6b5b2;
  line-height: 0.5; }

/* line 375, scss/main.css */
.cursiveText {
  font-size: 24px;
  font-family: 'Dancing Script', 'cursive';
  color: #a47d5e;
  line-height: 1.25;
  text-align: center; }

/* line 382, scss/main.css */
.cakePhotos {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap; }

/* line 387, scss/main.css */
.cakePhotos li {
  padding: 10px 5px 20px 0; }

/* line 389, scss/main.css */
.cakePhotos li .topLeftPhoto {
  background-image: url("../images/section two/img top left.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 235px; }

/* line 395, scss/main.css */
.cakePhotos li .topRightPhoto {
  background-image: url("../images/section two/img top right.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 235px; }

/* line 401, scss/main.css */
.cakePhotos li .bottomRightPhoto {
  background-image: url("../images/section two/img bottom right.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 235px; }

/* line 407, scss/main.css */
.cakePhotos li .bottomLeftPhoto {
  background-image: url("../images/section two/img bottom left.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 235px; }

/* line 414, scss/main.css */
.stempel {
  background-image: url("../images/section two/vector_section_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 275px;
  position: absolute;
  left: 993px;
  top: 250px;
  z-index: 219; }
