.midSectionPhoto{
    background-image: url('../images/nav and header/border_bullets.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 135px;
    position: relative;
    z-index: 999;
    top: -50px;  
}