.sectionFive {
    background-image: url('../images/section five/section-five-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    position: relative;
    color: white;
}

.JibaritoSandwich {
    font-size: 48px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    font-weight: bold;
    line-height: 0.625;
    text-align: center;
    margin: -25px 0 0 0;
}

.bgSandwich {
    background-image: url('../images/section five/Vektor-Smartobjekt-section-five.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 105px;
    height: 115px;
    margin-left: calc(50% - 60px);
}

.swPhoto {
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-bottom: 25px;
}

.swPhotoOne {
    background-image: url('../images/section five/img-1-section-five.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.swPhotoTwo {
    background-image: url('../images/section five/img-2-section-five.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.swPhotoThree {
    background-image: url('../images/section five/img-3-section-five.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.swHeader {
    font-size: 30px;
    font-family: "Alegreya";
    color: rgb(164, 125, 94);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
}

.swDesc {
    font-size: 14px;
    font-family: "Raleway", 'sans-serif';
    color: rgb(86, 83, 76);
    line-height: 1.429;
    text-align: center;
    margin-bottom: 40px;
}

.swCookBg {
    background-image: url('../images/section five/img_bg_info-section-five.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 570px;
    border: 8px solid white;
    margin-top: calc(50% - 325px);
    /* margin-left: calc(50% - 385px); */
}

.prep {
    list-style-type: none;
    display: inline-block;
    position: relative;
    top: -65px;
    float: right;
    li {
        width: 225px;
        height: 225px;
        background: white;
        opacity: 0.8;
        margin-bottom: 1px;
        text-align: center;
        h3 {
            margin: 5px 0 0 0;
            font-size: 18px;
            padding: 35px 0 0 0;
        }
        h2 {
            color: #56534c;
            margin: -25px 0 0 0;
            font-size: 90px;
        }
        p {
            color: #979285;
            margin: 0 0 0 0;
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
    li:last-child {
        background-image: url('../images/section three/Vektor-Smartobjekt-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 1;
        h3 {
            margin: 5px 0 0 0;
            padding: 35px 0 0 0;
            font-size: 18px;
        }
        h2 {
            color: #dfc691;
            margin: -10px 0 0 0;
            font-size: 90px;
        }
        p {
            color: #979285;
            margin: 0 0 0 0;
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
}

.fullRecipe {
    font-size: 18px;
    font-family: "Alegreya";
    color: rgb(223, 198, 145);
    font-weight: bold;
    text-align: center;
    border: 1px dashed rgb(223, 198, 145);
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    display: inline-block;
    padding-top: calc(50% - 410px);
    position: relative;
    float: left;
    top: 530px;
    right: 20px;
}

.fullRecipe:hover {
    transform: scale(1.2, 1.2);
    transition: 500ms;
}
