.sectionTwo {
    background-image: url('../images/section two/section-two-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    position: relative;
}

.pos {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    @media(min-width: 750px) {
        flex-direction: row;
    }
}

.headerText {
    line-height: 0.625;
    font-size: 48px;
    font-family: "Alegreya", 'sans-serif';
    color: rgb(86, 83, 76);
    font-weight: 700;
    text-align: center;
}

.headerDescription {
    font-family: "Alegreya", 'sans-serif';
    color: #a47d5e;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', 'sans-serif';
    color: rgb(86, 83, 76);
    line-height: 1.714;
    text-align: center;
    padding: 30px;
    font-weight: 600;
}

.chefCook {
    font-size: 24px;
    font-family: "Alegreya", 'sans-serif';
    color: rgb(86, 83, 76);
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
}

.chefUl {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0;
    @media(min-width: 750px) {
        flex-direction: row;
        margin-left: calc(50% - 180px);
    }
    @media(min-width: 850px) {
        margin-left: calc(50% - 215px);
    }
    li {
        padding: 20px 0;
        @media(min-width: 850px) {
            padding: 40px 15px;
        }
        .chefName,
        .chefSurname {
            border-top: 1px solid rgb(215, 213, 202);
            border-bottom: 1px solid rgb(215, 213, 202);
            padding: 15px 20px;
            margin-top: 30px;
            font-size: 24px;
            font-family: "Alegreya";
            color: rgb(86, 83, 76);
            line-height: 1.25;
            text-align: center;
        }
        .chefPhoto {
            background-image: url('../images/section two/avatar_section_one.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 125px;
            height: 125px;
            border: 5px solid white;
            border-radius: 50%;
            margin-left: calc(50% - 65px);
            @media(min-width: 850px) {
                margin-left: 0;
            }
        }
    }
}

.leftMark {
    margin-left: calc(10% - 20px);
    @media(min-width: 850px) {
        margin-left: calc(15% - 20px);
    }
    @media(min-width: 1050px) {
        margin-left: calc(20% - 20px);
    }
}

.rightMark {
    float: right;
    margin: 15px calc(10% - 20px) 0 0;
    @media(min-width: 850px) {
        margin: 15px calc(15% - 20px) 0 0;
    }
    @media(min-width: 1050px) {
        margin: 15px calc(20% - 20px) 0 0;
    }
}

.leftMark,
.rightMark {
    font-size: 24px;
    font-family: 'Playfair Display';
    color: #b6b5b2;
    line-height: 0.5;
}

.cursiveText {
    font-size: 24px;
    font-family: 'Dancing Script', 'cursive';
    color: rgb(164, 125, 94);
    line-height: 1.25;
    text-align: center;
}

.cakePhotos {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 100px;
    li {
        padding: 10px 5px 20px 0;
        .topLeftPhoto {
            background-image: url('../images/section two/img top left.png');
        }
        .topRightPhoto {
            background-image: url('../images/section two/img top right.png');
        }
        .bottomRightPhoto {
            background-image: url('../images/section two/img bottom right.png');
        }
        .bottomLeftPhoto {
            background-image: url('../images/section two/img bottom left.png');
        }
        .topLeftPhoto,
        .topRightPhoto,
        .bottomLeftPhoto,
        .bottomRightPhoto {
            background-repeat: no-repeat;
            background-size: contain;
            width: 335px;
            height: 285px;
            @media(min-width: 450px) {
                left: calc(50% - 50px);
            }
            @media(min-width: 630px) {
                width: 290px;
                height: 245px;
            }
            @media(min-width: 751px) {
                width: 165px;
                height: 140px;
            }
            @media(min-width: 851px) {
                width: 195px;
                height: 170px;
            }
            @media(min-width: 1000px) {
                width: 231px;
                height: 195px;
            }
            @media(min-width: 1100px) {
                width: 260px;
                height: 235px;
            }
            @media(min-width: 1200px) {
                width: 275px;
                height: 235px;
            }
        }
    }
}

.stempel {
    display: none;
    @media(min-width: 750px) {
        display: inline-block;
        background-image: url('../images/section two/vector_section_one.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        position: absolute;
        z-index: 219;
        left: calc(50% + 89px);
        top: 184px;
    }
    @media(min-width: 850px) {
        left: calc(50% + 120px);
        top: 210px;
    }
    @media(min-width: 900px) {
        left: calc(50% + 120px);
        top: 210px;
    }
    @media(min-width: 1000px) {
        left: calc(50% + 115px);
        top: 205px;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 219;
        left: calc(50% + 145px);
        top: 230px;
    }
    @media(min-width: 1100px) {
        left: calc(50% + 173px);
        top: 260px;
    }
    @media(min-width: 1200px) {
        left: calc(50% + 190px);
        top: 265px;
    }
}
