.sectionThree {
    background-image: url('../images/section three/section-three-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    top: -115px;
    height: 100vh;
    position: relative;
}

.sectionThreeBg {
    background-image: url('../images/section three/img-rating.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 603px;
    margin-top: calc(50% - 410px);
    margin-left: calc(50% - 550px);
}

.dishMenu {
    position: relative;
    top: -603px;
    background-image: url('../images/section three/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 60%;
    float: right;
    margin-right: 0;
    overflow: hidden;
}

.windmill {
    background-image: url('../images/section three/Vektor-Smartobjekt windmill.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80%;
    background-position: right bottom;
}

.dishName {
    margin: 100px 0 20px 80px;
    text-align: left;
}

.headerDescrption {
    color: #aa8669;
    margin: 0 0 20px 80px;
}

.recipeText {
    font-size: 16px;
    font-family: "Raleway";
    color: #56534c;
    line-height: 1.714;
    font-weight: 400;
    width: 65%;
    text-align: left;
    margin: 65px 0 0 80px;
}

.stars {
    background-image: url('../images/section three/rating.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 20px;
    margin: 35px 0 0 80px;
}

.dishSlider {
    list-style-type: none;
    display: inline-block;
    margin-left: calc(50% - 195px);
    li {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 60px 50px 0 0px;
    }
     :first-child {
        background-image: url('../images/section three/img-3-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
     :nth-child(2) {
        background-image: url('../images/section three/img-2-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
     :nth-child(3) {
        background-image: url('../images/section three/img-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.leftSliderBtn {
    width: 40px;
    height: 40px;
    border: 2px solid #d8bba3;
    border-radius: 100%;
    color: #d8bba3;
    display: inline-block;
    float: left;
    margin: -75px 0px 0px 65px;
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 1px calc(50% - 330px);
    cursor: pointer;
}

.rightSliderBtn {
    float: right;
    margin: -75px 55px 0px 0;
    padding: 1px calc(50% - 329px);
}

.leftSliderBtn:hover,
.rightSliderBtn:hover {
    border: 2px solid #56534c;
    color: #56534c;
}

.bullets {
    margin-left: calc(50% - 45px);
    list-style-type: none;
    margin-top: 25px;
    li {
        margin: 4px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #d8bba3;
        border-radius: 100%;
    }
     :first-child {
        border: 2px solid #d8bba3;
        background: none;
    }
}
