.sectionThree {
    background-image: url('../images/section three/section-three-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    top: -115px;
    //height: 100vh;
    position: relative;
    background-attachment: fixed;
    @media(min-width: 1000px) {
       // background-size: contain;
        height: 1382px;
    }
}

.sectionThreeBg {
    display: none;
    @media (min-width: 1000px) {
        display: block;
        background-image: url('../images/section three/img-rating.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 603px;
        margin-top: calc(50% - 410px);
        margin-left: calc(50% - 550px);
    }
}

.dishMenu {
    margin: 100px 0 100px 0;
    position: relative;
    top: 0;
    background-image: url('../images/section three/menu.png');
    background-repeat: repeat;
    background-size: cover;
    /* height: 100%; */
    width: 90%;
    margin-right: 0;
    @media(min-width: 450px) {}
    @media (min-width: 1000px) {
        margin: 0 0 0 0;
        top: -603px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60%;
        float: right;
    }
}

.windmill {
    background-image: url('../images/section three/Vektor-Smartobjekt windmill.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80%;
    background-position: right bottom;
}

.dishName {
    margin: 100px 0 20px 80px;
    text-align: left;
}

.headerDescrption {
    color: #aa8669;
    margin: 0 0 20px 80px;
}

.recipeText {
    font-size: 16px;
    font-family: "Raleway";
    color: #56534c;
    line-height: 1.714;
    font-weight: 400;
    width: 65%;
    text-align: left;
    margin: 65px 0 0 80px;
}

.stars {
    background-image: url('../images/section three/rating.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 20px;
    margin: 35px 0 0 80px;
}

.dishSlider {
    list-style-type: none;
    display: inline-block;
    margin-left: calc(50% - 73px);
    @media(min-width: 450px) {
        margin-left: calc(50% - 160px);
    }
    @media(min-width: 550px) {
        margin-left: calc(50% - 175px);
    }
    @media(min-width: 650px) {
        margin-left: calc(50% - 190px);
    }
    @media(min-width: 750px) {
        margin-left: calc(50% - 205px);
    }
    @media (min-width: 1000px) {
        margin-left: calc(50% - 195px);
    }
    li {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 35px 10px 0 0;
        @media(min-width: 450px) {
            width: 60px;
            height: 60px;
        }
        @media(min-width: 550px) {
            width: 70px;
            height: 70px;
        }
        @media(min-width: 650px) {
            width: 80px;
            height: 80px;
        }
        @media(min-width: 750px) {
            width: 90px;
            height: 90px;
        }
        @media (min-width: 1000px) {
            width: 100px;
            height: 100px;
            margin: 60px 50px 0 0px;
        }
    }
     :first-child {
        background-image: url('../images/section three/img-3-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
     :nth-child(2) {
        background-image: url('../images/section three/img-2-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
     :nth-child(3) {
        background-image: url('../images/section three/img-slider-section-two.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.leftSliderBtn {
    transform: rotate(90deg);
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px solid #d8bba3;
    border-radius: 100%;
    color: #d8bba3;
    display: inline-block;
    float: left;
    margin: -50px 0px 0px 25px;
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    cursor: pointer;
    @media(min-width: 450px) {
        margin: 40px 0 0px 30px;
    }
    @media(min-width: 550px) {
        margin: 50px 0 0px 30px;
    }
    @media(min-width: 650px) {
        margin: 55px 0 0px 30px;
    }
    @media(min-width: 750px) {
        margin: 60px 0 0px 30px;
    }
    @media(min-width: 1000px) {
        margin: -75px 0px 0px 65px;
    }
}

.rightSliderBtn {
    transform: rotate(-90deg);
    float: right;
    margin: -50px -5px 0px 0;
    @media(min-width: 450px) {
        margin: 40px 15px 0px 0;
    }
    @media(min-width: 550px) {
        margin: 50px 15px 0px 0;
    }
    @media(min-width: 650px) {
        margin: 55px 15px 0px 0;
    }
    @media(min-width: 750px) {
        margin: 60px 15px 0px 0;
    }
    @media(min-width: 1000px) {
        margin: -75px 55px 0px 0;
    }
}

.leftSliderBtn:hover,
.rightSliderBtn:hover {
    border: 2px solid #56534c;
    color: #56534c;
}

.bullets {
    margin-left: calc(50% - 45px);
    list-style-type: none;
    margin-top: 25px;
    li {
        margin: 4px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #d8bba3;
        border-radius: 100%;
    }
     :first-child {
        border: 2px solid #d8bba3;
        background: none;
    }
}

.cookTime {
    display: none;
    position: absolute;
    top: -120px;
    right: 0;
    z-index: 999;
    background-image: url('../images/section three/Vektor-Smartobjekt-section-two.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 58px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 58px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 58px -14px rgba(0, 0, 0, 0.75);
    text-align: center;
    @media(min-width: 1100px) {
        display: inline-block;
    }
    @media(min-width: 1500px) {
        right: -125px;
    }
    h3 {
        margin: 40px 0 0 0;
        font-size: 18px;
    }
    h2 {
        color: #dfc691;
        margin: 0 0 0 0;
        font-size: 90px;
    }
    p {
        color: #979285;
        margin: 0 0 0 0;
        font-size: 18px;
        letter-spacing: 2px;
    }
}
