.sectionOne {
    background-image: url('../images/nav and header/main-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.mainHeader {
    margin-top: 50px;
}
