.sectionOne {
    background-image: url('../images/nav and header/main-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.bgShadow {
    display: inline-block;
    margin: 15vh 22vw;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background: #564f4c;
    filter: blur(125px);
    opacity: 0.9;
    position: relative;
}

.mainHeader {
    margin-top: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    z-index: 999;
    top: calc(50% - 200px);
    left: calc(50% - 165px);
    font-size: 3em;
    font-family: "Playfair Display", 'sans-serif';
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
    @media (min-width: 450px) {
        top: calc(50% - 250px);
        left: calc(50% - 175px);
        font-size: 3em;
    }
    @media (min-width: 600px) {
        top: calc(50% - 250px);
        left: calc(50% - 225px);
        font-size: 4em;
    }
    @media (min-width: 800px) {
        top: calc(50% - 250px);
        left: calc(50% - 300px);
        font-size: 6em;
    }
}

.stripes {
    height: 102px;
    width: 150px;
    background-image: url('../images/nav and header/lines.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 999;
    top: calc(50% - 57px);
    left: calc(50% - 75px);
    @media (min-width: 450px) {
        height: 200px;
        width: 200px;
        left: calc(50% - 100px);
    }
}

.bottomText {
    font-weight: 300;
    font-size: 20px;
    font-family: "Raleway", 'sans-serif';
    color: white;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
    position: absolute;
    left: calc(50% - 160px);
    top: calc(50% - 0px);
    width: 325px;
    @media (min-width: 450px) {
        font-size: 24px;
        left: calc(50% - 235px);
        width: 450px;
    }
    @media (min-width: 600px) {
        left: calc(50% - 275px);
        width: 544px;
    }
    @media (min-width: 800px) {
        left: calc(50% - 275px);
        width: 544px;
    }
}

.menuBtn {
    border: 1px dashed #9e9c93;
    background-color: rgba(86, 83, 76, 0.529);
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% + 165px);
    width: 198px;
    height: 48px;
    font-size: 14px;
    font-family: "Alegreya", 'sans-serif';
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}
