.sectionTwo {
    background-image: url('../images/section two/section-two-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vw;
    position: relative;
    top: -115px;
}

.pos {
    padding-top: 100px;
}

.headerText {
    line-height: 0.625;
    font-size: 48px;
    font-family: "Alegreya", 'sans-serif';
    color: rgb(86, 83, 76);
    font-weight: 700;
    text-align: center;
}

.headerDescription {
    font-family: "Alegreya", 'sans-serif';
    color: #a47d5e;
    font-weight: 700;
    text-align: center;
   padding-top: 15px;
    font-size: 16px;
    
}

.description{
    font-size: 14px;
  font-family: 'Raleway','sans-serif';
      color: rgb(86, 83, 76);
  line-height: 1.714;
  text-align: center;
    padding: 30px;
    font-weight: 600;
    
}




